.header-navi{
    @media screen and (max-width:640px){
		padding-top: 80px;
	    background: url(../image/logo_cmyk_03.jpg);
	    background-repeat: no-repeat;
	    background-size: auto 80px;
	    background-position: center;
    }
	
}