.link-button{
	padding: calc(1em*3/5) 0;;
    display: block;
    text-align: center;
    margin: 25px auto 0;
    
	@media screen and (max-width: 768px){
		max-width: 400px;
	}
    &.link-button_color_blue{
	    background: #44f;
	    color: #fff;
		-webkit-transition: 0.25s ease;
	    -moz-transition: 0.25s ease;
	    -ms-transition: 0.25s ease;
	    -o-transition: 0.25s ease;
	    transition: 0.25s ease;
	    &:hover{
	    	background: #66f;	
			-webkit-transition: 0.25s ease;
		    -moz-transition: 0.25s ease;
		    -ms-transition: 0.25s ease;
		    -o-transition: 0.25s ease;
		    transition: 0.25s ease;
	    }
    }
}