.countdown-timer {
  height: 360px;
  width: 650px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 25px #000; }
  .countdown-timer.countdown_type_camp {
    padding-top: 100px; }
  .countdown-timer .countdown-timer__contents {
    margin: 0 auto 70px;
    padding-top: 130px;
    width: 450px;
    font-size: 3.2rem;
    display: -webkit-flex;
    /* Safari */
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    /* Safari */
    -ms-flex-direction: row;
    flex-direction: row; }
  .countdown-timer .countdown-timer__num {
    display: block;
    margin: 0 auto;
    font-family: "TeXGyreAdventor-Regular";
    letter-spacing: 0.3rem;
    text-indent: 0.3rem; }
  .countdown-timer .countdown-timer__message {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 60px;
    color: #333;
    letter-spacing: 1.2rem;
    text-indent: 1.2rem;
    padding-bottom: 90px; }
  @media screen and (max-width: 600px) {
    .countdown-timer {
      height: 270px;
      width: 95%; }
      .countdown-timer .countdown-timer__contents {
        margin: 0 auto 40px;
        padding-top: 70px;
        width: 400px;
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        text-indent: 0.2rem; }
      .countdown-timer .countdown-timer__message {
        font-size: 1.2rem;
        margin-top: 20px;
        padding-bottom: 30px; } }
  @media screen and (max-width: 375px) {
    .countdown-timer {
      height: 230px; }
      .countdown-timer .countdown-timer__contents {
        margin: 0 auto 40px;
        padding-top: 70px;
        width: 300px;
        font-size: 1.9rem;
        letter-spacing: 0.1rem;
        text-indent: 0.1rem; }
      .countdown-timer .countdown-timer__message {
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
        text-indent: 0.4rem; } }
