.inner-section .inner-section__box {
  padding: 20px 10px; }
  .inner-section .inner-section__box:after, .inner-section .inner-section__box:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(#f8c76b), to(#e84ca3));
    background: -moz-linear-gradient(left, #f8c76b, #e84ca3);
    background: linear-gradient(left, #f8c76b, #e84ca3); }

.inner-section .inner-section__text {
  font-size: 1.1rem;
  margin: 10px 0; }

.inner-section .inner-section__link {
  text-decoration: underline;
  color: #111;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }

.inner-section .inner-section__link:hover {
  color: #555;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease; }
